#map {
    height: 500px;
    width: 80%;
    margin: auto;
   }

body { 
    background-color:#001f3f;
}

h1 {
    color:white;
    font-family: "Helvetica", cursive, sans-serif;
    text-align: center;
}